@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>School</title>
</head>
<body>
    <div>
        <h3>Students</h3>
        <table>
            <tr>
                <td><p>Name</p></td>
                <td><p>Surname</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Students)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Surname</p></td>
                    <td><p><a href="/Home/Information/@b.StudentId">Information</a></p></td>
                </tr>}
        </table>
    </div>
</body>
</html>