@model IEnumerable<SchoolManagementSystem.Models.Student>

@{
    ViewBag.Title = "List of student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="width:90%; margin:0 auto" class="tablecontainer">
        <table id="students_table" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Patronymic</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    <a class="popup btn btn-primary" href="/students/create/0" style="margin-bottom:20px; margin-top:20px;">Add New Student</a>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            var oTable = $('#students_table').DataTable({
                //scrollY: '50vh',
                //scrollCollapse: true,
                //paging: false,
                "ajax": {
                    "url" : '/students/GetStudents',
                    "type" : "get",
                    "datatype" : "json"
                },
                "columns": [
                    { "data": "Name", "autoWidth": true },
                    { "data" : "Surname", "autoWidth" : true},
                    { "data": "Patronymic", "autoWidth": true },
                    { "data": "PhoneNumber", "autoWidth": true },
                    {
                        "data": "StudentId", "width": "100px", "render": function (data) {
                            return '<a class="popup" href="/students/delete/' + data + '">Delete</a> | <a class="popup" href="/students/edit/' + data + '">Details</a>';
                        }
                    }
                ]
                
            })
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                          .html($pageContent)
                          .dialog({
                              draggable : false,
                              autoOpen : false,
                              resizable : false,
                              model : true,
                              title:'Popup Dialog',
                              height : 550,
                              width : 600,
                              close: function () {
                                  $dialog.dialog('destroy').remove();
                              }
                          })

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type : "POST",
                        url : url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })

                $dialog.dialog('open');
            }
        })
    </script>